
.file-upload-content, 
.file-upload-content-multi {
            
    text-align: center;
}

.file-upload-input, 
.file-upload-input-multi {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap, 
.image-upload-wrap-multi {
    margin-top: 20px;
    border: 2px dotted #73879C;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover,
.image-dropping-multi,
.image-upload-wrap-multi:hover {
    background-color: rgba(115, 135, 156, 0.4); 
    border: 2px dotted #ffffff;
}

.image-title-wrap, 
.image-title-wrap-multi {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #73879C;
    padding: 60px 0;
}

.file-upload-image, 
.file-upload-image-multi {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}