/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


/************************
* Font Logo EVA SVG *
*************************/

@font-face {
    font-family: 'Walkway-SemiBold';
    src: url('../fonts/Walkway-SemiBold.ttf') format('truetype');
    src: url('../fonts/Walkway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Poppins-Regular;
    src: url('Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('Poppins-SemiBold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

.mb-5{
    margin-bottom: 5px;
}
.mb-20 {
    margin-bottom: 20px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Walkway-SemiBold';
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

    input[type="number"] {
        -moz-appearance: textfield;
        appearance: none;
        -webkit-appearance: none;
    }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

textarea {
    outline: none;
    border: none;
}

    textarea:focus, input:focus {
        border-color: transparent !important;
    }

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

        input:focus:-moz-placeholder {
            color: transparent;
        }

        input:focus::-moz-placeholder {
            color: transparent;
        }

        input:focus:-ms-input-placeholder {
            color: transparent;
        }

        textarea:focus::-webkit-input-placeholder {
            color: transparent;
        }

        textarea:focus:-moz-placeholder {
            color: transparent;
        }

        textarea:focus::-moz-placeholder {
            color: transparent;
        }

        textarea:focus:-ms-input-placeholder {
            color: transparent;
        }

input::-webkit-input-placeholder {
    color: #cccccc;
}

input:-moz-placeholder {
    color: #cccccc;
}

input::-moz-placeholder {
    color: #cccccc;
}

input:-ms-input-placeholder {
    color: #cccccc;
}

textarea::-webkit-input-placeholder {
    color: #cccccc;
}

textarea:-moz-placeholder {
    color: #cccccc;
}

textarea::-moz-placeholder {
    color: #cccccc;
}

textarea:-ms-input-placeholder {
    color: #cccccc;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-wrap: wrap;
}

.wrap-login100 {
    width: 520px;
    min-height: 100vh;
    background: #fff;
    border-radius: 2px;
    position: relative;
}

/*------------------------------------------------------------------
[ Login100 more ]*/
.login100-more {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: calc(100% - 520px);
    position: relative;
    z-index: 1;
}

/*Color Image Left*/
.login100-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: #367fa9;*/
    background: -webkit-linear-gradient(bottom, #82C91E, #82C91E);
    /*background: -o-linear-gradient(bottom, #367fa9, #3c8dbc);
    background: -moz-linear-gradient(bottom, #367fa9, #3c8dbc);
    background: linear-gradient(bottom, #367fa9, #3c8dbc);*/
    opacity: 0.8;
}

/*==================================================================
[ Form ]*/

.login100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.login100-form-title {
    display: block;
    width: 100%;
    font-family: 'Walkway-SemiBold';
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    margin-top: 40px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 45px;
}

.wrap-check100 {
    font-family: 'Walkway-SemiBold';
    font-size: 18px;
    color: #999999;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    text-align: center !important;
}

.field-validation-error {
    color: darkred;
    margin-left: 15px;
}

.label-input100 {
    font-family: 'Walkway-SemiBold';
    font-size: 20px;
    color: #999999;
    line-height: 1.2;
    padding-left: 2px;
}

.input100 {
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    font-family: 'Walkway-SemiBold';
    font-size: 22px;
    color: #555555;
    line-height: 1.2;
    padding: 0 2px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

/*Color Input Focus*/
.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #3c8dbc;
    background: -webkit-linear-gradient(45deg, #0075b9b7, #1da4f1);
    background: -o-linear-gradient(45deg, #0075b9b7, #1da4f1);
    background: -moz-linear-gradient(45deg, #0075b9b7, #1da4f1);
    background: linear-gradient(45deg, #00b917b7, #34f11d);
}

.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.wrap-login100-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
}

/*Color Button Entrar*/
.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 300%;
    /*background: #3c8dbc;*/
    background: -webkit-linear-gradient(top, #82C91E, #91f373, #82C91E, #91f373);
    /*background: -moz-linear-gradient(top, #3c8dbc, #73c2f3, #3c8dbc, #73c2f3);*/
    /*background: linear-gradient(top, #3c8dbc, #73c2f3, #3c8dbc, #73c2f3);*/
    bottom: -100%;
    left: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 244px;
    height: 50px;
    font-family: 'Walkway-SemiBold';
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    bottom: 0;
}

/*
    Mensagem de erro
*/

.validation-summary-errors,
.validation-summary-errors a {
    color: #a94442;
    margin-bottom: 20px;
}

ul.msg_erro li {
    padding: 5px;
    display: flexbox;
    margin: 6px 6px 0;
    width: 96% !important;
}

ul.msg_erro li:last-child {
    margin-bottom: 6px;
    padding: 10px;
}

ul.msg_erro li a {
    padding: 3px 5px !important;
}

ul.msg_erro li a .image img {
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    float: left;
    margin-right: 10px;
    width: 11%;
}

ul.msg_erro li a .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 35px;
}

ul.msg_erro li a .message {
    display: block !important;
    font-size: 11px;
}

.dropdown-menu.msg_erro span {
    white-space: normal;
}

/*------------------------------------------------------------------

/**************
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
