/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

.ucb-logo {
    font-size: 2.54cm;
    font-family: "Mongolian Baiti";
    color: rgb( 5, 17, 63 );
    text-align: center;
    -moz-transform: matrix( 4.05698005698006, 0, 0, 4.29341761721185, 0, 0);
    -webkit-transform: matrix( 4.05698005698006, 0, 0, 4.29341761721185, 0, 0);
    position: absolute;
    left: -0.52916677881173cm;
    top: 3.986389733715cm;
    width: 20.92cm;
    height: 7.902cm;
    z-index: 1;
}*/

.btn-success {
    border-color: #3399ff;
    background-color: #3399ff;
    overflow-x: hidden;
}

    .btn-success:hover {
        border-color: #004080;
        background-color: #004080;
    }

/* Set width on the form input elements since they're 100% wide by default 
    input, select, textarea {
    max-width: 280px;
}*/
