.titleQuestion{
    font-size: 1.5625rem;
}

.page-header {
    height: 130px !important;
    background-position: 50%;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

