tr.dtrg-level-1 td {
    font-size: 12px !important;
}

tr.dtrg-level-2 td {
    font-size: 12px !important;
    background-color: #F7F7F7 !important;
    font-weight: bold !important;
}

.highlight-column {
    background-color: #f5f6bd;
}

table.dataTable thead th {
    background-color: #636340 !important;
    font-weight: normal !important;
    color: white
}

table.dataTable thead th, table.dataTable thead td {
    padding: 5px 10px 0px 5px !important;
}

table.dataTable thead th, table.dataTable tbody td {
    padding: 4px 5px;
}

table.dataTable.cell-border tbody td {
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 0px solid rgb(221, 221, 221) !important;
}

.dtrg-group dtrg-start dtrg-level-0 {
    background-color: #EDFFFA !important
}

.table-group {
    background-color: #dbdbdb !important;
    border-color: #dbdbdb !important;
    font-weight: bold
}

.subtable-group-Debito {
    background-color: #fbd5d5 !important;
    border-color: #fbd5d5 !important;
    font-weight: bold
}

.subtable-group-Credito {
    background-color: #e4e3fb !important;
    border-color: #e4e3fb !important;
    font-weight: bold
}
