
.fs-12{
    font-size:12px;
}

.p-legend {
    margin-bottom: 0rem !important;
}

#iTooglePlanejada {
    height: 26px;
    width: 5rem !important;
}

.heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    /* line-height: 60px; */
    line-height: 1;
    padding: 0 5px;
    background-color: #fff;
    color: #000;
}

.listings {
    height: 100%;
    overflow: auto;
    padding: 10px;
}

.listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
}

.listings .item:last-child {
    border-bottom: none;
}

.listings .item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
}

.listings .item .title small {
    font-weight: 400;
}

.listings .item.active .title .listings .item .title:hover {
    color: #8cc63f;
}

.listings .item.active {
    background-color: #f8f8f8;
}

.sidebar {
    position: absolute;
    width: 33%;
    height: 440px;
    top: 70px;
    /* left: 0; */
    left: 66%;
    overflow: hidden;
    border: 1px solid rgb(199, 199, 199);
}

#map-rotas {
    /*height: 460px;*/
    height: 440px;
    position: absolute;
    left: 0;
    width: 63%;
    top: 70px;
    bottom: 0;
    margin-left: 20px;
}

#map {
    margin-top: -10px;
    height: 480px;
}


/*Hide Text Link Leaflet*/
.leaflet-control-attribution {
    box-shadow: none;
    display: none;
}

/*PoupUp Content*/
.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 12px;
    /* bottom: 9px; */
    margin-bottom: 10px;
    margin-left: 5px;
}

/*PoupUp arrow bottom*/
.leaflet-popup-tip-container {
    margin-block-start: -10px;
}
