@using PrjUcbWeb.Resources

@{
    ViewBag.Title = RsBase.INICIO;
    Layout = "~/Views/Shared/_LayoutLimpo.cshtml";
}

<div class="jumbotron">
    <div>
        <h2 style="text-align:center"> Bem Vindo Professor Thiago ! </h2>
        <a id="imagem">
            <img align="right" img src="~/Images/PC1.png" width="300" height="300">
        </a>
        <p> Obrigado, por ser um integrante desta plataforma. </p>
        <p> Clique no botão abaixo para conferir as aulas de hoje. </p>
        <a id="botaoconf" class="btn btn-primary" style="align-center-right" href="#" role="button">
            Confira !
        </a>
    </div>
    
</div>
